.App-layout{
  background: url("../../my-restaurant/src/background7.png");
  opacity: .8;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*.App-header {
  background: url("../../my-restaurant/src/background-burger.jpg");
  height: 500px;
  padding: 20px;
  color: white;
}*/

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*Pan*/

.profile{
  margin-bottom: 0;
}

.App-logo-food {
  width: 20%;
}


.navbar{
  margin-bottom: 0;
}


.mdl-layout__drawer-button{
  color: #FFCC00!important;
}

.mdl-layout__header-row .mdl-navigation__link{
  color: #FFCC00!important;
  text-decoration: none;
}

.page-content{
  justify-content: center;
  text-align: center;
  margin: auto;
}

.App-logosite{
  position: relative;  
}


.landing-content{
  height: 500px;
  background: #f1f1f1;
}

.landing-content p{
  font-size: 16px;
  color: black;
  text-align: center;
  justify-content: center;
}

.restaurants-content{
  background: white;
}

h3{
  color: gray;
  text-align: left;
  font-size: 24px!important;
  padding: 20px!important;
}

